:root {
    --color-primary: rgb(77 92 146);
    --color-surface-tint: rgb(77 92 146);
    --color-on-primary: rgb(255 255 255);
    --color-primary-container: rgb(220 225 255);
    --color-on-primary-container: rgb(53 68 121);
    --color-secondary: rgb(89 93 114);
    --color-on-secondary: rgb(255 255 255);
    --color-secondary-container: rgb(222 225 249);
    --color-on-secondary-container: rgb(66 70 89);
    --color-tertiary: rgb(117 84 111);
    --color-on-tertiary: rgb(255 255 255);
    --color-tertiary-container: rgb(255 215 245);
    --color-on-tertiary-container: rgb(91 61 87);
    --color-error: rgb(186 26 26);
    --color-on-error: rgb(255 255 255);
    --color-error-container: rgb(255 218 214);
    --color-on-error-container: rgb(147 0 10);
    --color-background: rgb(250 248 255);
    --color-on-background: rgb(26 27 33);
    --color-surface: rgb(250 248 255);
    --color-on-surface: rgb(26 27 33);
    --color-surface-variant: rgb(226 225 236);
    --color-on-surface-variant: rgb(69 70 79);
    --color-outline: rgb(118 118 128);
    --color-outline-variant: rgb(198 197 208);
    --color-shadow: rgb(0 0 0);
    --color-scrim: rgb(0 0 0);
    --color-inverse-surface: rgb(47 48 54);
    --color-inverse-on-surface: rgb(241 240 247);
    --color-inverse-primary: rgb(182 196 255);
    --color-primary-fixed: rgb(220 225 255);
    --color-on-primary-fixed: rgb(4 22 75);
    --color-primary-fixed-dim: rgb(182 196 255);
    --color-on-primary-fixed-variant: rgb(53 68 121);
    --color-secondary-fixed: rgb(222 225 249);
    --color-on-secondary-fixed: rgb(22 27 44);
    --color-secondary-fixed-dim: rgb(194 197 221);
    --color-on-secondary-fixed-variant: rgb(66 70 89);
    --color-tertiary-fixed: rgb(255 215 245);
    --color-on-tertiary-fixed: rgb(44 18 41);
    --color-tertiary-fixed-dim: rgb(227 186 218);
    --color-on-tertiary-fixed-variant: rgb(91 61 87);
    --color-surface-dim: rgb(218 217 224);
    --color-surface-bright: rgb(250 248 255);
    --color-surface-container-lowest: rgb(255 255 255);
    --color-surface-container-low: rgb(244 243 250);
    --color-surface-container: rgb(239 237 244);
    --color-surface-container-high: rgb(233 231 239);
    --color-surface-container-highest: rgb(227 225 233);
}

.dark {
    --color-primary: rgb(182 196 255);
    --color-surface-tint: rgb(182 196 255);
    --color-on-primary: rgb(30 45 97);
    --color-primary-container: rgb(53 68 121);
    --color-on-primary-container: rgb(220 225 255);
    --color-secondary: rgb(194 197 221);
    --color-on-secondary: rgb(43 48 66);
    --color-secondary-container: rgb(66 70 89);
    --color-on-secondary-container: rgb(222 225 249);
    --color-tertiary: rgb(227 186 218);
    --color-on-tertiary: rgb(67 39 63);
    --color-tertiary-container: rgb(91 61 87);
    --color-on-tertiary-container: rgb(255 215 245);
    --color-error: rgb(255 180 171);
    --color-on-error: rgb(105 0 5);
    --color-error-container: rgb(147 0 10);
    --color-on-error-container: rgb(255 218 214);
    --color-background: rgb(18 19 24);
    --color-on-background: rgb(227 225 233);
    --color-surface: rgb(18 19 24);
    --color-on-surface: rgb(227 225 233);
    --color-surface-variant: rgb(69 70 79);
    --color-on-surface-variant: rgb(198 197 208);
    --color-outline: rgb(144 144 154);
    --color-outline-variant: rgb(69 70 79);
    --color-shadow: rgb(0 0 0);
    --color-scrim: rgb(0 0 0);
    --color-inverse-surface: rgb(227 225 233);
    --color-inverse-on-surface: rgb(47 48 54);
    --color-inverse-primary: rgb(77 92 146);
    --color-primary-fixed: rgb(220 225 255);
    --color-on-primary-fixed: rgb(4 22 75);
    --color-primary-fixed-dim: rgb(182 196 255);
    --color-on-primary-fixed-variant: rgb(53 68 121);
    --color-secondary-fixed: rgb(222 225 249);
    --color-on-secondary-fixed: rgb(22 27 44);
    --color-secondary-fixed-dim: rgb(194 197 221);
    --color-on-secondary-fixed-variant: rgb(66 70 89);
    --color-tertiary-fixed: rgb(255 215 245);
    --color-on-tertiary-fixed: rgb(44 18 41);
    --color-tertiary-fixed-dim: rgb(227 186 218);
    --color-on-tertiary-fixed-variant: rgb(91 61 87);
    --color-surface-dim: rgb(18 19 24);
    --color-surface-bright: rgb(56 57 63);
    --color-surface-container-lowest: rgb(13 14 19);
    --color-surface-container-low: rgb(26 27 33);
    --color-surface-container: rgb(30 31 37);
    --color-surface-container-high: rgb(41 42 47);
    --color-surface-container-highest: rgb(52 52 58);
}